{% extends 'base.html' %}
{% block title %}Contact Detail{% endblock %}

{% block content %}
    <div class="container">
        <h2>Contact Detail</h2>

        <table class="table">
            <tr>
                <th>ID</th>
                <td>{{ contact.id }}</td>
            </tr>
            <tr>
                <th>First Name</th>
                <td>{{ contact.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ contact.last_name }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact.email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ contact.phone }}</td>
            </tr>
        </table>

        <a href="{% url 'contact_list' %}">Back to List</a>
    </div>
{% endblock %}